
{{#each myBlogs}}
<section id="feedDiv">
  <div class="card text-center" id="feedCards">
    <h3>{{title}}</h3>
    <h5 class="card-subtitle mb-2 text-muted">By: {{user.username}}</h5>
    <p class="card-text">{{content}}</p>
     <div class="card-footer text-muted">
      Posted: {{format_date date_posted}}
      </div>
    {{#each comments}}
      <div class="card-footer comments">
        {{this.content}} - {{this.author}}
      </div>
      {{else}}
      <div>NO BLOGS YET</div>
    {{/each}}
  </div>
</section>
{{else}}
  <div>NO BLOGS YET</div>
{{/each}}


