<div class="center-div" id="feedDiv"> 
  <div class="card text-center createBlog">
    <div class="card-body">
      <h5 class="card-title">Write A Blog Post Now!</h5>
      <form id="blogForm" method="post" action="/api/blog">
        <input type="text" id="blogTitle" class="form-control" placeholder="Blog Post Title" name="title">
        <textarea class="form-control" id="blogContent" rows="5" placeholder="What's on your mind?" name="content"></textarea>
        <button type="submit" class="btn btn-primary" id="signInButton">Post Blog</button>
      </form>
    </div>     
  </div>
</div>



{{#each myBlogs}}
<section id="feedDiv">
  <div class="card text-center" id="feedCards">
    <h3>{{title}}</h3>
    <h5 class="card-subtitle mb-2 text-muted">By: {{user.username}}</h5>
    <p class="card-text">{{content}}</p>
     <div class="card-footer text-muted">
      Posted: {{format_date date_posted}}
      </div>
    {{#each comments}}
      <div class="card-footer comments">
        {{this.content}} - {{this.author}}
      </div>
      {{else}}
      <div>No Comments yet</div>
    {{/each}}
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Edit</button>
      <button type="submit" class="btn btn-primary">Delete</button>
    </div>
  </div>
</section>
{{else}}
  <div>NO BLOGS YET</div>
{{/each}}


